body{
  background: url("../img/fon1.jpg");
  background-size: cover;
}
header {
  position: relative;
  z-index: 5;
  height: 750px;

  .header__main-menu{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    //bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;

    .header__logo{
      width: 200px;
      height: 40px;
      margin-right: 200px;
      margin-left: 20px;
    }
    .header__make-request-btn{
      margin-left: 86px;
      box-sizing: border-box;
      //flex-basis: 25%;
      position: relative;
      left: -22px;
      top: 0;
      right: auto;
      width: 200px;
      height: 60px;
      border:2px solid rgba(84, 137, 195, .8);
      background-color: inherit;
      color: white;
      border-radius: 50px;
      margin-top: -15px;
      font-size: 16px;
      transition: all .4s ease-out;
      transition-delay: 0.2s;
      &:hover{
        left:-25px;
        top:-3px;
        background:rgba(84, 137, 195, .8) ;

      }
    }
    .header__main-menu-list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 2;

      .header__main-menu-item{

      }

      a{
        display: inline-block;
        color: white;
        position: relative;
        font-size: 16px;


        &:visited{
          color: white;

        }
        &:hover{
          &:after{
            content: ".";
            color: white;
            font-size: 25px;
            position: absolute;
            top: 0;
            left: 50%;

          }
        }
      }
    }
  }

  .header__slider{
    position: relative;
    height: 755px;

    .header__slider__img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 100%;
    }

    .header__slider__content {
      width: 50%;
      height: 50%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      color: white;
      text-align: center;
      overflow: visible;
      z-index: 20;


      .header__slider__title {
        font-size: 36px;
        line-height: 54px;
        margin-top: -10px;
      }

      .header__slider__description {
        text-align: center;
        width: 80%;
        margin-top: 38px;
        margin-left: 90px;
        font-size: 24px;
        line-height: 36px;
      }

      .header__slider__btn{
        margin-top: 60px;

        @include btn();
        padding: 10px;
        font-size: 16px;


      }


    }
  }

  .header__slider__switcher{

    width: 72px;
    height: 20px;
    position: absolute;
    border: 1px solid #5489c3;
    border-radius: 19px;
    margin: auto;
    top: 650px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    .header__slider__switcher-button{
      height: 1px;
      width: 17px;
      display: inline-block;
      position: relative;
      top: -10px;
      left: 15px;

      &.disabled__switch{
        background: #5489c3;
      }

    }


  }
}



