.specialists {

  height: 670px;

  display: flex;
  color: #fafaff;

  .specialists__img{
    position: relative;
    top:-95px;
    width: 905px;
    height: 640px;
  }
  .specialists__wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: -60px;
    justify-content: start;

  }

  .specialists__title{
    margin-top: 130px;
    margin-left: 20px;
    @include title;
  }

  .specialists__list{
    display: flex;
    flex-direction: column;

  }

  .specialists__item{
    @include decsr;
    margin-top: 28px;
    margin-left: 42px;
    position: relative;
    width: 60%;


    &:before{
      content: ".";
      font-size: 32px;
      position: absolute;
      left: -20px;
      top: -8px;

      color:#16afe0 ;
    }
  }

}
